body{
  background-color: #FFF6FA;
  color: rgb(151, 102, 123);
}

textarea{
  background-color:rgb(126, 86, 103);
  color: #FFF6FA;
}
.App{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#editor{
  width:60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#preview{
  width:70%;
}
a{
  text-decoration: none;
}
a:hover{
  font-size: larger;
}